<!DOCTYPE html>
<html>
<head>
    <title>Covid Prediction Form</title>
</head>
<body>
    <h2>Covid Prediction Form</h2>
    <form action="/submit_form" method="post">
        Gender: <input type="text" name="gender"><br><br>
        Cough: <input type="text" name="cough"><br><br>
        City: <input type="text" name="city"><br><br>
        Age: <input type="text" name="age"><br><br>
        Fever: <input type="text" name="fever"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
